{% extends "base.html" %}

{% block content %}

<style>
    
    li a {
        text-decoration: none;
        color: white;
    }

    h5 {
        color: lightskyblue;
    }

</style>

<h1>All Blog Entries</h1>

<ul>
    {% for post in posts %}
        <li>
            <h2>
                <a href="/blog?id={{ post.id }}">{{ post.title }}</a>
            </h2>
            <p>{{ post.body }}</p>
            <h5> Written by
                <a href='/blog?userid={{ post.owner_id }}'>{{ post.owner.username }}</a>
            </h5>
        </li>
    {% endfor %}
</ul>

{% endblock %}